body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: black;
}
nav {
    margin: 0px 30px;
}

.navLinks {
    margin: 10px;
    float: right;
    list-style-type: none;
    font-size: 30px;
    display: flex;
}
.navLinks li {
    margin: 0 20px;
}
a {
    text-decoration: none;
    color: black;
}
.title {
    /* margin: 40px 30px; */
    font-size: 50px;
}
.main {
    margin: 40px;
    font-size: 50px;
}
.main img {
    height: 700px;
}
